.topClicks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-left: auto;
    margin-bottom: 10px;
    background-color: rgb(107, 133, 133);
}


.parentFlexContainer {
    display: flex;
    background-color: rgb(0, 0, 0);
    justify-content: space-around;
}


.parentFlexContainer2 {
    display: flex;
    background-color: rgb(0, 0, 0);
    justify-content: space-around;
}

.parentFlexContainer3 {
    display: flex;
    background-color: rgb(0, 0, 0);
    justify-content: space-around;
}

.parentFlexContainer>div {
    background-color: #c13a3a;
    margin: 10px;
    padding: auto;
    font-size: 20px;
    font-family: Arial;
    font-style: italic;
    text-align: center;
}

.parentFlexContainer2>div {
    background-color: #c13a3a;
    margin: 10px;
    padding: auto;
    font-size: 20px;
    font-family: Arial;
    font-style: italic;
    text-align: center;
}

.parentFlexContainer3>div {
    background-color: #c13a3a;
    margin: 10px;
    padding: auto;
    font-size: 20px;
    font-family: Arial;
    font-style: italic;
    text-align: center;
}

.contactUs {
    display: block;
    /* flex-wrap: wrap;
    justify-content: space-evenly; */
    margin-left: auto;
    /* margin-bottom: 10px; */
    background-color: rgb(107, 133, 133);
}

.bottomClicksSection1 {
    width: auto;
    float: left;
    background-color: antiquewhite;
    text-align: justify;
    padding-top: 1px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 1px;
    margin-left: 2%;
}

.bottomClicksSection2 {
    width: auto;
    float: left;
    background-color: rgb(173, 115, 39);
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
}